
###> symfony/framework-bundle ###
/.env
/public/bundles/
/var/
/vendor/
.idea/
.history/
###< symfony/framework-bundle ###

###> symfony/phpunit-bridge ###
.phpunit
/phpunit.xml
###< symfony/phpunit-bridge ###
